<!-- <div class="row">
  <div class="col-5">
    <form autocomplete="off" (ngSubmit)="sendLogin()" [formGroup]="loginForm">
      <div class="row">
        <div class="col">
          <label class="col-form-label">Username</label>
          <input type="text" formControlName="username" class="form-control">
        </div>
        
        
      </div>  
      <div class="row">
        <div class="col">
          <label class="col-form-label">Password</label>
          <input type="password" formControlName="password" class="form-control">
        </div>
      </div>
      <button type="submit" class="btn btn-primary mt-2">Sign In</button>
      
      
      
      
      
    
    </form>
       
  </div>
</div> -->


<div class="form-container">

  <h1 >Sign in</h1>
  <form autocomplete="off" (ngSubmit)="sendLogin()" [formGroup]="loginForm">

        <label class="col-form-label">Username</label>
        <input type="text" formControlName="username" class="form-control">

      
      

        <label class="col-form-label">Password</label>
        <input type="password" formControlName="password" class="form-control">

        <button type="submit" class="btn btn-primary btn_color">Sign In</button>
    
    
    
    
    
  
  </form>
     


</div>



