.topnav {
    background-color: #333;
    overflow: hidden;
    height: 80px;
    margin-bottom: 5%;
  }
  
.topnav-text{
    align-self: center;
    color: white;
}
  
.container {
    border: 2px solid;
    border-color: #333;
    
    background-color: #999;
    -webkit-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.18);
    box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.18);
}